<!-- Creates layout that will be the same for files specified-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Time-Table</title>
    
    </head>
    <body>

        <header>This is where the header will be</header>
        <br>
        <%- body%>
        <br>
        <footer>This where the footer will be</footer>

    </body>
</html>