<!-- Main code for dashboard table -->
<div class="main">
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Export</button>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">View Communities</button>
                    <ul class="dropdown-menu" id="dropDownList" aria-labelledby="dropdownMenuButton1"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                        <div class="container-fluid">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Item cost</th>
                                        <th>Item description</th>
                                        <th>Vendor name</th>
                                        <th>Contact</th>
                                        <th>Buy</th>
                                    </tr>
                                </thead>
                                <tbody id="myDynamicTable"></tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-2">  
            <div class="card">
                <div class="card-body">
                    <b><h5>Please click on view communities dropdown.</h5></b>
                    <h6>This is the current listing of items being sold in this community.</h6>
                    <h6>Once you have bought an item please refresh the page after.</h6>
                </div>
            </div>
        </div> 
    </div>
    <div class="card-deck">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <h3 class="card-title"> Old transactions</h3>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item cost</th>
                                    <th>Item description</th>
                                    <th>Vendor name</th>
                                    <th>Contact</th>
                                    <th>Buyer</th>
                                </tr>
                            </thead>
                            <tbody id="myTransactionDynamicTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="dashboard.js" defer></script>
</div>